@import 'common';

.main-container{
	width: 1170px;
}

.menu{
	font-size: 1.2rem;
	background: $white;
	padding: 1.5rem;
	position: fixed;
	top: 3rem;
    left: 15%;
    z-index: 1111;

	a{
		color: $text-color;

		&:hover{
			color: $dark-color;
		}
	}
}

header{
	.header-container{
		height: 60rem;

		.greeting{
			position: relative;
			top: 40%;

			h1{
				font-size: 6.4rem;
				color: $black;
			}

			p{
				font-size: 1.8rem;
			}
		}

		.icon-arrow{
			position: absolute;
			bottom: 2rem;
			left: 50%;
			cursor: pointer;
		}
	}
}

.profile{
	margin-top: 8rem;

	.panel{
		&-content{
			&-left{
				.avatar{
					img{
						min-width: 100%;
					}
				}

				.person-infor{
					padding-left: 1rem;
					padding-right: 3rem;

					.infor-item{
						padding-top: 1.2rem;
						padding-bottom: 1.2rem;
						line-height: 1.7rem;
						border-bottom: 0.1rem solid #D8CECE;

						&:first-child{
							padding-top: 0;
						}

						&:last-child{
							border-bottom: none;
						}

						label{
							color: $dark-color;
							font-weight: bold;
						}
					}
				}
			}

			&-right{
				background-color: #eee;
				padding: 2rem;
				line-height: 2.5rem;

				.about{
					font-size: 1.8rem;
					line-height: 4rem;
					color: $text-color;

					h1{
						color: $dark-color;
						font-size: 2.4rem;
					}
				}

				.social{
					margin-top: 1.6rem;
					li{
						display: inline-block;
						text-align: center;
						margin-right: 1rem;
					}
				}
			}
		}
	}
}

.recent-post{
	margin-top: 10rem;

	.panel{
		&-heading{
			display: table;
			width: 100%;

			.button-group{
				display: table-cell;
				vertical-align: middle;
				text-align: right;
				padding-right: 3rem;

				button{
					padding: 0 1.5rem;
				}
			}
		}

		&-content{
			.post-content{
				position: relative;
				margin-right: -15px;
    			margin-left: -15px;

				img{
					min-width: 100%;
				}

				.img-title{
					position: absolute;
					top: 2rem;
					left: 2rem;
					background-color: $white;
					color: $dark-color;
					padding: 1rem;
				}

				.note{
					position: absolute;
					bottom: 2rem;
					left: 2rem;
					color: $white;
					font-size: 1rem;
					line-height: 2.5rem;

					h1{
						font-size: 2rem;
					}
				}
			}
		}

		&-footer{
			padding-top: 5rem;
    		padding-bottom: 3rem;

    		button{
    			font-weight: bold;
    			font-size: 1.2rem;
    		}
		}
	}
}

.service{
	height: 28rem;

	.transbox{
		padding: 8rem 4rem;
	}

	&-item{
		padding: 2rem;

		.heading{
			display: table;
    		width: 100%;

			h1{
				color: $black;
				font-size: 1.6rem;
				display: table-cell;
				vertical-align: bottom;
			}
		}

		.content-text{
			font-size: 1.3rem;
			padding-top: 1rem;
			line-height: 1.8rem;
		}
	}
}

.portfolio{
	.panel{
		&-heading{
			display: table;
			width: 100%;
			background-color: $dark-color;
			padding: 8rem 2rem 3rem 4rem;

			.heading-content{
				display: table-cell;
				vertical-align: bottom;
				padding-bottom: 0;

				h1{
					color: $white;
				}
			}

			.button-group{
				display: table-cell;
				vertical-align: middle;
				text-align: right;
				padding-right: 3rem;

				button{
					padding: 0 1rem;
					margin-right: 0.5rem;
					color: $default-color;
					border: 0.2rem solid $default-color;
					font-size: 1.2rem;

					&:hover{
						border: none;
					}
				}
			}
		}

		&-content{
			background-color: $white;
			.portfolio-item{
				padding: 2.5rem;
				border: 0.1rem solid #EAE2E2;

				.heading{
					overflow: hidden;

					img{
						border-radius: 50%;
					}

					.infor{
						padding-top: 0.5rem;
    					line-height: 2rem;

						p{
							color: $text-color;
							font-size: 1.2rem;
						}
					}
				}

				.content-text{
					padding: 1.5rem;
					font-size: 1.3rem;

					blockquote {
						font-style: italic;
						position: relative;
						margin-left: 3rem;

						&:before {
							display: block;
						    padding-left: 10px;
						    content: "\201C";
						    font-size: 4rem;
						    position: absolute;
						    left: -45px;
						    top: -10px;
						    color: #DED3D3;
						    font-weight: 800;
						}
					}
				}
			}
		}
	}
}

.contact{
	padding-top: 8rem;
	padding-bottom: 5rem;

	.panel{
		&-content{
			.form-left{
				padding-right: 5rem;

				input{
					width: 100%;
				}
			}

			.form-right{
				button{
					font-weight: bold;
					font-size: 1.2rem;
					padding-left: 2.5rem;
					padding-right: 2.5rem;
				}
			}
		}
	}
}

footer{
	background-color: $dark-color;
	padding-top: 3rem;
	padding-bottom: 4rem;
	font-size: 1.4rem;

	p{
		padding: 3rem 28rem;
	}

	.social{
		display:inline-block;
		li{
			margin-right: 1.5rem;
			> a{
				padding: 1rem 0;
			}
		}
	}
}