.block__circle--moving-top{
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background: rgba(255, 255, 255, 0.5);   
    @include circle($radius-circle-moving-top);
    cursor: pointer;
    z-index: 900;
    .fa-angle-up{
        line-height: 2rem;
        font-weight: bold;
    }
    
    &:hover{
        background: $color-light-blue;
        color: $color-white;
    }
}

.mainpage__content--right{
    background: $color-white;
    margin-top: 5rem;
}