.block__circle--moving-top{
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background: rgba(255, 255, 255, 0.5);   
    @include circle($radius-circle-moving-top);
    cursor: pointer;
    z-index: 900;
    .fa-angle-up{
        vertical-align: middle;
        height: 100%;
    }
    
    &:hover{
        background: $color-light-blue;
        color: $color-white;
    }
}