header{
    background: $color-bg-header;
    border-bottom: 0.2rem solid $color-border-header;
    height: 6rem;
    
    nav{
        height: 100%;
    }
    
    .navbar{
        list-style: none;
        height: 100%;
    }
    
    .navbar__item{
        padding-right: 1rem;
    }
}