/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0; }

/* end reset browser styles */
a {
  text-decoration: none; }

.content-wrapper {
  position: relative;
  max-width: 1280px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6rem;
  padding-right: 5rem; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix {
  clear: both; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.bold {
  font-weight: bold; }

.horizontal-menu {
  list-style: none; }
  .horizontal-menu > li {
    float: left; }
    .horizontal-menu > li > a {
      padding: 1.5rem; }

.line {
  border-color: #FEC722;
  border-style: solid; }

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BEBAS___.TTF"); }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto.regular.ttf"); }
@font-face {
  font-family: 'Roboto-bold';
  src: url("../fonts/Roboto-Medium.ttf"); }
html {
  font-size: 10px; }

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  text-transform: none; }

.text-emphasize {
  color: #FEC722; }

.upper-case {
  text-transform: uppercase; }

.text-heading {
  font-family: "Bebas", sans-serif;
  word-spacing: 0.2rem;
  font-weight: 200; }

p {
  font-size: 1.6rem;
  line-height: 2.4rem; }

header .header-item {
  height: 6rem; }
header .header-content {
  display: table;
  overflow: hidden;
  width: 100%; }
  header .header-content a {
    color: #AFAFAF; }
  header .header-content > ul {
    display: table-cell;
    vertical-align: middle; }
    header .header-content > ul > li {
      float: none;
      display: inline-block; }
header .header-top {
  margin-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem; }
  header .header-top .header-content .logo {
    padding-left: 1rem; }
  header .header-top .header-content > ul {
    text-align: right; }
    header .header-top .header-content > ul > li > a {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
  header .header-top .header-content .contact-list {
    font-size: 1.2rem;
    color: #212121;
    font-weight: bold; }
    header .header-top .header-content .contact-list > li {
      padding-left: 1rem;
      padding-right: 1rem; }
      header .header-top .header-content .contact-list > li i.fa {
        margin-right: 0.5rem;
        font-size: 1.4rem;
        color: #949494; }
  header .header-top .header-content .social-list {
    width: 12rem;
    font-size: 1.6rem; }
    header .header-top .header-content .social-list a:hover {
      color: #212121; }
header nav {
  color: #AFAFAF; }
  header nav .header-content {
    height: 100%; }
    header nav .header-content a {
      padding-left: 1rem;
      padding-right: 4rem;
      font-family: "Bebas", sans-serif; }
  header nav .navbar {
    font-size: 1.5rem; }
    header nav .navbar a:hover {
      color: #FEC722; }
  header nav .search-box {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    position: relative; }
    header nav .search-box .form-search {
      width: 23.5rem;
      padding: 0.6rem;
      border-width: 0;
      border-bottom: 0.2rem solid #3F3C3E;
      outline: 0;
      color: #AFAFAF; }
    header nav .search-box .fa-search {
      position: absolute;
      right: 0.5rem;
      top: 2.2rem;
      font-size: 1.4rem;
      cursor: pointer; }
      header nav .search-box .fa-search:hover {
        color: #CACACA;
        font-weight: 900; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left; }

.col-md-12 {
  width: 100%; }

.col-md-11 {
  width: 91.66666667%; }

.col-md-10 {
  width: 83.33333333%; }

.col-md-9 {
  width: 75%; }

.col-md-8 {
  width: 66.66666667%; }

.col-md-7 {
  width: 58.33333333%; }

.col-md-6 {
  width: 50%; }

.col-md-5 {
  width: 41.66666667%; }

.col-md-4 {
  width: 33.33333333%; }

.col-md-3 {
  width: 25%; }

.col-md-2 {
  width: 16.66666667%; }

.col-md-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; } }
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.section-content {
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: #212121;
  text-align: center; }
  .section-content > h1 {
    font-family: "Bebas", sans-serif;
    font-size: 2.4rem;
    word-spacing: 0.5rem;
    font-weight: normal; }
  .section-content > hr {
    border: 0.3rem solid #FEC722;
    width: 5.3rem;
    margin-top: 1rem; }
  .section-content > p {
    width: 60rem;
    padding: 1.5rem 2.5rem;
    margin-left: auto;
    margin-right: auto; }
  .section-content .content-block {
    margin-left: auto;
    margin-right: auto; }

.match-upcoming, .match-infor {
  margin-left: -15px;
  margin-right: -15px; }

.match-infor {
  font-weight: bold; }
  .match-infor .match-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .match-infor .title {
    padding-top: 1rem;
    text-align: left; }
    .match-infor .title > * {
      display: inline-block; }
    .match-infor .title h1 {
      font-size: 2.4rem;
      width: 16rem;
      margin-left: 2rem;
      font-weight: 500;
      word-spacing: 1rem; }
    .match-infor .title hr {
      border-width: 0.1rem;
      width: 60%; }
  .match-infor .time-remain {
    margin-top: 2rem;
    background-color: #DEDEDE;
    border-top: 0.1rem solid #CACACA;
    border-bottom: 0.1rem solid #CACACA;
    font-size: 2rem; }
    .match-infor .time-remain .unit {
      color: #888688; }
    .match-infor .time-remain .colon {
      padding-left: 1rem;
      padding-right: 1rem; }
  .match-infor .team {
    font-size: 1.6rem; }
    .match-infor .team > * {
      display: inline-block; }
    .match-infor .team .vs-block {
      padding: 1.2rem 1rem;
      margin-left: 2rem;
      margin-right: 2rem;
      background-color: #FEC722; }
  .match-infor .time-kickoff {
    color: #888688;
    font-size: 1.4rem; }
    .match-infor .time-kickoff p {
      margin-top: 0.5rem; }

.match-upcoming {
  margin-top: -1.5rem; }
  .match-upcoming .table-match {
    width: 100%;
    font-size: 1.3rem;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #121212; }
    .match-upcoming .table-match th, .match-upcoming .table-match td {
      padding: 1.2rem; }
    .match-upcoming .table-match th:first-child, .match-upcoming .table-match td:first-child {
      text-align: left;
      padding-left: 2rem; }
    .match-upcoming .table-match td:last-child {
      text-align: right;
      padding-right: 2rem; }
    .match-upcoming .table-match thead {
      color: #FEC722;
      border-bottom: 0.1rem solid #FEC722; }
    .match-upcoming .table-match tbody {
      color: #A2A2A2;
      word-spacing: 0.2rem; }
      .match-upcoming .table-match tbody tr:nth-child(odd) {
        background: #212121; }
      .match-upcoming .table-match tbody tr {
        border-bottom: 0.1rem solid #CACACA; }
        .match-upcoming .table-match tbody tr > td > .text-emphasize {
          margin-left: 0.5rem;
          margin-right: 0.5rem; }

.news-container {
  overflow: hidden; }

.news-item {
  padding-top: 1rem;
  text-align: left; }
  .news-item .content-text {
    padding-right: 1.5rem; }
  .news-item img {
    width: 100%;
    max-width: 100%; }
  .news-item h4 {
    font-size: 1.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .news-item button {
    margin-top: 1.5rem;
    width: 11rem;
    height: 4rem;
    font-size: 1.1rem; }

.banner {
  height: 500px;
  width: 100%; }
  .banner .banner-container {
    margin-left: -6rem;
    margin-right: -5rem;
    position: relative; }
    .banner .banner-container .btn-navigate {
      background: rgba(254, 199, 34, 0.5); }
      .banner .banner-container .btn-navigate:hover {
        background: #fec722; }
  .banner .slide {
    position: relative; }
    .banner .slide img {
      display: block;
      max-width: 100%;
      height: 100%; }
    .banner .slide-content {
      position: absolute;
      right: 5rem;
      bottom: 6rem;
      color: #FFFFFF; }
      .banner .slide-content .title {
        padding: 1rem;
        background: rgba(0, 0, 0, 0.5); }
        .banner .slide-content .title h1 {
          font-size: 3.6rem;
          font-family: "Bebas", sans-serif;
          font-weight: 100;
          word-spacing: 0.4rem; }
      .banner .slide-content p {
        font-size: 1.6rem;
        line-height: 3.5rem;
        font-weight: bold; }
      .banner .slide-content .btn {
        margin-top: 0.5rem; }
  .banner .btn-navigate {
    position: absolute;
    top: 40%; }
  .banner .btn-next {
    right: 0; }
  .banner .btn-prev {
    left: 0; }

button {
  cursor: pointer; }
  button:focus {
    outline: 0; }

.btn {
  font-family: "Roboto-bold", sans-serif;
  font-size: 1.2rem;
  padding: 1.2rem;
  border-radius: 2rem;
  border: 0;
  font-weight: bold;
  color: #212121; }
  .btn:hover {
    background: #F7EF00; }

.btn-navigate {
  z-index: 100;
  font-weight: 900;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  width: 3rem;
  height: 6rem; }

.about-team .content-block {
  width: 40rem; }
  .about-team .content-block .slide {
    position: relative; }
    .about-team .content-block .slide .btn-navigate {
      position: absolute;
      top: 40%; }
    .about-team .content-block .slide .btn-next {
      right: 3rem; }
    .about-team .content-block .slide .btn-prev {
      left: 3rem; }
  .about-team .content-block h2 {
    font-size: 1.6rem;
    padding-top: 1.5rem; }

.next-match .content-wrapper {
  background-color: #FEC722; }
.next-match .section-content {
  color: #212121; }
  .next-match .section-content > hr {
    border-color: #212121; }
  .next-match .section-content > p {
    font-size: 1.8rem;
    text-transform: uppercase; }
  .next-match .section-content .content-block {
    overflow: hidden;
    height: 32rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color: #FFFFFF; }

.section-forecast .content-wrapper {
  background: url("../images/Slide03.jpg"); }
  .section-forecast .content-wrapper .section-content {
    color: #FFFFFF; }
.section-forecast .result-block {
  color: #FFFFFF;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .section-forecast .result-block > * {
    display: inline-block; }
  .section-forecast .result-block .score-block {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 4.8rem;
    font-weight: bold; }
.section-forecast .btn {
  width: 12rem;
  height: 4rem; }

body {
  background-color: #FFFFFF; }

header nav {
  background-color: #212121; }
header .form-search {
  background-color: #212121; }

.btn-default {
  background: #FEC722; }

/*# sourceMappingURL=main.css.map */
