/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0; }

/* end reset browser styles */
a {
  text-decoration: none; }

button {
  cursor: pointer; }
  button:focus {
    outline: 0; }

.content-wrapper {
  position: relative;
  max-width: 1170px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix {
  clear: both; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.bold {
  font-weight: bold; }

.upper-case {
  text-transform: uppercase; }

@font-face {
  font-family: 'Pathway Gothic One';
  src: url("../fonts/PathwayGothicOne-Regular.ttf"); }
html {
  font-size: 10px; }

body {
  color: #535455;
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: none; }

p, span {
  font-size: 1.6rem;
  line-height: 2.4rem; }

.header {
  overflow: hidden; }
  .header-top {
    padding-top: 2.5rem;
    height: 12rem;
    text-align: center; }
  .header-bottom {
    margin-bottom: 2.5rem; }
    .header-bottom-left {
      float: left; }
      .header-bottom-left p {
        font-size: 1.3rem; }
    .header-bottom-right {
      float: right; }
      .header-bottom-right > * {
        display: inline-block;
        height: 4.3rem; }
      .header-bottom-right .btn {
        color: #FFFFFF;
        margin-left: 0.2rem; }
      .header-bottom-right .form-search {
        background-color: #FAF8FA;
        margin-right: 0.3rem; }
      .header-bottom-right .btn-search {
        width: 4.3rem; }

footer {
  margin-top: 5rem;
  padding-top: 6.5rem;
  background-color: #3F3D3F; }
  footer .col-footer-large, footer .col-footer-medium, footer .col-footer-small {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px; }
  footer .col-footer-large .footer-item-wrapper ul, footer .col-footer-medium .footer-item-wrapper ul {
    padding-left: 0; }
    footer .col-footer-large .footer-item-wrapper ul > li, footer .col-footer-medium .footer-item-wrapper ul > li {
      padding-bottom: 2rem; }
  footer .col-footer-large {
    width: 30%;
    padding-left: 0; }
    footer .col-footer-large .circle-wrapper {
      width: 3.2rem;
      height: 3.2rem;
      -moz-border-radius: 1.6rem;
      -webkit-border-radius: 1.6rem;
      border-radius: 1.6rem;
      display: inline-block;
      cursor: default;
      text-align: center;
      margin-right: 1.2rem;
      background-color: #FFFFFF;
      border: none; }
      footer .col-footer-large .circle-wrapper > .fa {
        color: #535455;
        font-size: 1.6rem;
        line-height: 3.2rem; }
  footer .col-footer-medium {
    width: 25%;
    padding-right: 0; }
    footer .col-footer-medium .footer-item-wrapper ::-webkit-input-placeholder {
      color: #FFFFFF; }
    footer .col-footer-medium .footer-item-wrapper :-moz-placeholder {
      /* Firefox 18- */
      color: #FFFFFF; }
    footer .col-footer-medium .footer-item-wrapper ::-moz-placeholder {
      /* Firefox 19+ */
      color: #FFFFFF; }
    footer .col-footer-medium .footer-item-wrapper :-ms-input-placeholder {
      color: #FFFFFF; }
    footer .col-footer-medium .footer-item-wrapper .form-email, footer .col-footer-medium .footer-item-wrapper .btn-subcribe {
      font-family: "Pathway Gothic One", sans-serif; }
    footer .col-footer-medium .footer-item-wrapper .form-email {
      color: #FFFFFF;
      font-size: 1.6rem;
      background-color: #797779;
      border-color: #797779; }
    footer .col-footer-medium .footer-item-wrapper .btn-subcribe {
      padding: 1rem 3rem;
      border: 0;
      color: #797779;
      font-size: 2rem; }
  footer .col-footer-small {
    width: 15%; }
    footer .col-footer-small .footer-item-wrapper ul {
      list-style-type: disc; }
    footer .col-footer-small a {
      text-transform: capitalize; }
  footer p, footer a {
    font-size: 1.6rem;
    color: #FFFFFF; }
  footer .footer-item-wrapper .title {
    font-size: 2.3rem; }
    footer .footer-item-wrapper .title:after {
      content: '';
      display: block;
      height: 0.1rem;
      margin-top: 1.5rem;
      background-color: #797779; }
  footer .footer-item-wrapper ul {
    margin-top: 3rem;
    padding-left: 1.6rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    list-style: none; }
    footer .footer-item-wrapper ul li {
      padding-bottom: 1.5rem; }
  footer .footer-bottom {
    margin-top: 1.5rem;
    padding: 3rem 0;
    background-color: #000000;
    height: 9rem; }
    footer .footer-bottom .copyright-text, footer .footer-bottom .payment {
      display: inline-block; }
    footer .footer-bottom .copyright-text p {
      color: #797779;
      font-size: 1.4rem; }
      footer .footer-bottom .copyright-text p span {
        color: #FFFFFF;
        font-size: 1.4rem; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; } }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; } }
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.section {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px; }

.post-wrapper {
  overflow: hidden;
  position: relative; }
  .post-wrapper .img-wrapper {
    position: relative; }
    .post-wrapper .img-wrapper img {
      width: 100%; }
    .post-wrapper .img-wrapper .calendar {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 4.5rem;
      height: 5rem;
      color: #FFFFFF;
      background-color: rgba(83, 84, 85, 0.8);
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      .post-wrapper .img-wrapper .calendar .day {
        border-bottom: 0.1rem solid #FFFFFF; }
  .post-wrapper .content-text {
    margin-top: 2rem; }
    .post-wrapper .content-text .title {
      font-size: 2.4rem;
      margin-bottom: 3rem; }
    .post-wrapper .content-text .description {
      line-height: 2.8rem; }
    .post-wrapper .content-text .more {
      display: inline-block;
      padding-top: 2rem;
      font-style: italic;
      color: #000000;
      font-size: 1.3rem; }

.product-wrapper {
  overflow: hidden; }
  .product-wrapper .product-img {
    background-color: #FFFFFF; }
    .product-wrapper .product-img-top {
      padding: 1rem; }
      .product-wrapper .product-img-top .btn-product {
        height: 2.8rem;
        color: #FFFFFF;
        background-color: #000000;
        text-transform: uppercase;
        border: none;
        font-family: "Pathway Gothic One", sans-serif;
        font-size: 1.6rem; }
      .product-wrapper .product-img-top .btn-sale {
        background-color: #FF8401;
        text-align: left; }
      .product-wrapper .product-img-top .btn-new {
        text-align: right; }
  .product-wrapper .product-infor > p {
    text-align: center; }
  .product-wrapper .product-infor .product-name {
    text-transform: capitalize; }
  .product-wrapper .product-infor .product-price {
    color: #FF8401; }
    .product-wrapper .product-infor .product-price > * {
      margin-right: 0.2rem; }
    .product-wrapper .product-infor .product-price .fa-star-o {
      color: #B7B5B7; }

.section-list, .section-list-heading, .section-list-content {
  overflow: hidden; }

.section-list-heading > * {
  display: inline-block; }
.section-list-heading:after {
  content: '';
  display: block;
  height: 0.1rem;
  background-color: #B7B5B7;
  margin-top: 3rem; }
.section-list-heading .section-name {
  text-transform: uppercase;
  font-size: 2.4rem; }
.section-list-heading .right > * {
  display: inline-block; }
.section-list-heading .right .breadcum {
  text-transform: capitalize;
  margin-right: 2.5rem;
  font-size: 1.6rem; }
  .section-list-heading .right .breadcum span {
    font-size: 1.8rem;
    margin-left: 0.5rem; }
  .section-list-heading .right .breadcum .active {
    color: #FF8401; }
.section-list-heading .right .navigation .btn-nav {
  width: 2.5rem;
  height: 2.5rem;
  -moz-border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  border-radius: 1.25rem;
  display: inline-block;
  cursor: default;
  text-align: center;
  font-size: 1.6rem;
  color: #BCBABC;
  border: 0.2rem solid #BCBABC;
  margin-left: 0.5rem;
  cursor: pointer; }
  .section-list-heading .right .navigation .btn-nav:hover {
    color: #535455;
    border-color: #535455; }
  .section-list-heading .right .navigation .btn-nav .nav-icon {
    line-height: 2.1rem; }
.section-list-heading .right .navigation .nav-prev {
  padding-right: 0.2rem; }
.section-list-heading .right .navigation .nav-next {
  padding-left: 0.2rem; }

.section-list-content {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.col-banner-1, .col-banner-2, .col-banner-3 {
  float: left;
  padding-left: 15px;
  padding-right: 15px; }
.col-banner-1 {
  width: 25%; }
.col-banner-2 {
  width: 45%; }
.col-banner-3 {
  width: 30%; }

.shipping-infor {
  height: 12rem;
  background-color: #D1CFD1;
  margin-top: 3rem;
  display: table;
  width: 100%; }
  .shipping-infor-icon, .shipping-infor-text {
    display: inline-block;
    display: table-cell;
    vertical-align: middle; }
  .shipping-infor-icon {
    color: #FFFFFF;
    text-align: center;
    width: 13rem; }
    .shipping-infor-icon .icon-wrapper {
      width: 8rem;
      height: 8rem;
      -moz-border-radius: 4rem;
      -webkit-border-radius: 4rem;
      border-radius: 4rem;
      display: inline-block;
      cursor: default;
      text-align: center;
      text-align: center;
      background-color: #FF8401; }
      .shipping-infor-icon .icon-wrapper .icon {
        line-height: 8rem;
        font-size: 3rem; }
  .shipping-infor-text .title {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 5rem; }
  .shipping-infor:first-child {
    margin-top: 0; }

.navbar-default {
  margin-top: 2rem;
  height: 5.7rem; }

.menu-bar {
  list-style: none;
  height: 100%; }
  .menu-bar > li {
    float: left;
    height: 100%; }
    .menu-bar > li > a {
      line-height: 5.7rem;
      padding: 0 2rem;
      color: #535455;
      font-size: 1.8rem;
      text-transform: uppercase; }
    .menu-bar > li:hover {
      background: #343234; }
      .menu-bar > li:hover > a {
        color: #FFFFFF; }
  .menu-bar .active {
    background: #343234; }
    .menu-bar .active > a {
      color: #FFFFFF; }

.btn {
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  height: 4.3rem; }

.btn-default {
  border: 0.1rem solid #343234;
  background: #343234; }

.form-input {
  height: 4.3rem;
  width: 26rem;
  border: 0.1rem solid #F3F1F3;
  padding: 1rem;
  color: #000000;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem; }

input:focus {
  outline: none;
  border-color: #DACECE; }

.page-content {
  margin-top: 2rem; }

.section-banner {
  height: 42rem; }
  .section-banner img {
    width: 100%; }

.section-weekly-feature {
  margin-top: 3.5rem; }

.section-new-watches-fashion {
  margin-top: 1rem; }
  .section-new-watches-fashion .img-wrapper {
    position: relative; }
    .section-new-watches-fashion .img-wrapper img {
      width: 100%; }
    .section-new-watches-fashion .img-wrapper .block-description {
      position: absolute;
      top: 4.5rem;
      left: 10rem;
      color: #FFFFFF; }
      .section-new-watches-fashion .img-wrapper .block-description .title {
        text-transform: capitalize;
        font-size: 2rem; }
        .section-new-watches-fashion .img-wrapper .block-description .title:after {
          content: '';
          display: block;
          height: 0.1rem;
          width: 6rem;
          background-color: #FFFFFF;
          margin: 2rem auto; }
      .section-new-watches-fashion .img-wrapper .block-description .text-large {
        margin-top: 2rem;
        font-size: 3.6rem; }
      .section-new-watches-fashion .img-wrapper .block-description .btn-viewdetail {
        display: block;
        margin: 3rem auto;
        color: #FFFFFF;
        font-size: 1.4rem;
        border: 0.1rem solid #FFFFFF;
        width: 13rem;
        height: 4rem;
        padding: 1rem 2.5rem; }

.section-collection-feature {
  overflow: hidden;
  margin-top: 3.5rem; }
  .section-collection-feature .section-first {
    margin-left: -15px; }
  .section-collection-feature .section-last {
    margin-right: -15px; }

.section-ourbrand {
  overflow: hidden; }
  .section-ourbrand img {
    width: 100%; }

body {
  background-color: #F3F1F3; }

nav {
  background-color: #FFFFFF; }

footer {
  background-color: #3F3D3F; }

/*# sourceMappingURL=main.css.map */
