$blue: #476bb7;
$blue-dark: #4060a4;
$blue-light: #549cba;

$zircon: #fafcfe;

$black: #2c2c2c;
$white: #fff;
$gray: #444444;
$gray-gull: #a9b8bf;

$yellow: #fed720;
$red: #d91a1a;

$font-size: 1.2rem;

$colorHyperlink: #147ccc;
$colorPositiveNumber: $red;

$bgHeaderTableLevel1: #4C6375;
$bgHeaderTableLevel2: #9eb4c3;
$bgHeaderTableLevel3: #d1dae1;
$colorBorderTable: #d1dae1;

$bgTotalLevel1: #FFE7C5;
$bgTotalLevel2: #B1E0AC;
$bgTotalLevel3: #FFB391;