.article__box{
    padding: 0rem 1.5rem 0.5rem 1.5rem;
    background: $color-white;
    
    .article__title{
        height: $height-article-title;
        background: $color-bg-article-title;
        color: $color-white;
        font-size: 1.6rem;
        
        .text{
            line-height: $height-article-title;
        }
    }
    
    .article__content{
        padding-top: 0.5rem;       
        p, span, label{
            font-size: 1.2rem;
            color: $color-dark;
        }
        
        &--item{
            padding: 1rem 2rem 3rem 2rem;
            border-bottom: 0.1rem solid $color-panel-title;           
        }
        
        .text--emphasize{
            color: $color-primary;
        }
    }
}

.article__box--notification{
    padding-top: 2rem;
    .article__content--item{
        &-left{            
            .circle__clock{
                background: $color-primary;
                @include circle($radius-article-clock);
            }
            
            .fa-clock-o{
                font-size: 1.2rem;
                color: $color-white;
                line-height: $radius-article-clock * 2;
            }
        }
                
        &-right{
            padding-left: 1rem;
            .text-description{
                color: $color-bg-light-gray;
            }           
        }
    }
}

.article__box--team-members{
    .article__content--item{
        &-left{              
            .circle__avatar{
                @include circle(1.75rem);
            }
        }
        
        &-right{
            padding-left: 1rem;
            width: 70%;
        }
    }   
}

.article__box--todo-list{
    .article__content{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
               
        &--item{
            padding: 1.5rem 0.5rem;
            border-bottom: 0.1rem dashed $color-panel-title;           
        }
    }
    
    .article__content--item{
        .label__status{
            margin-left: 0.5rem;
            margin-right: 8rem;
            color: $color-white;
            @include border-radius(2rem);
        }
        
        .item__action{
            position: absolute;
            right: 1.5rem;
            bottom: 1.5rem;
        }
    }
    
    .block__button{
        margin-top: 3rem;
        padding-bottom: 2rem;
        
        &--left, &--right{
            width: 50%;
        }
        
        .btn{
            font-size: 1.2rem;
            padding: 0.75rem 1rem;
        }
    }
}

.article__content--item-checked{
    background: $color-bg-checked;   
    label.text--description{
        color: $color-bg-light-gray;
        text-decoration: line-through;
    }
}

@media(max-width: 767px){
    .article__box--notification{
        .article__content--item{
            &-left{
                width: 10%;            
            }
                    
            &-right{
                width: 90%;          
            }
        }
    }
    /*
    .article__box--team-members{
        .article__content--item{
            &-left{
                width: 15%;            
            }
                    
            &-right{
                width: 80%;          
            }
        }
    }*/
}

@media(min-width: 992px){
    .article__box--notification{
        .article__content--item{
            &-left{
                width: 15%;            
            }
                    
            &-right{
                width: 85%;          
            }
        }
    }
    /*
    .article__box--team-members{
        .article__content--item{
            &-left{
                width: 30%;            
            }
                    
            &-right{
                width: 65%;          
            }
        }
    }*/
}

@media(min-width: 1200px){
    .article__box--notification{
        .article__content--item{
            &-left{
                width: 10%;            
            }
                    
            &-right{
                width: 90%;          
            }
        }
    }
}