.btn{
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    font-family: $font-common;
    @include border-radius(0.4rem);
}

.btn--primary{
    color: $color-white;
    background: $color-primary;
    
    &:hover{
        background: $color-light-blue;
    }
}

.btn--danger{
    color: $color-white;
    background: $color-danger;
    
    &:hover{
        background: #59DC57;
    }
}

.btn--default{
    color: $color-dark;
    background: $color-white;
    border: 0.1rem solid $color-btn-border-default;
    
    &:hover{
        background: #E6E6E6;
    }
}

.btn-common{
    background: $color-bg-button-common;
}