.block__nav--menu{
    width: $width-left-menu;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    display: none;
    background: $color-bright-gray;
    
    @include transition(1s);
    
    a > *{
        color: $color-text-menu;
    }
    
    ul{
        list-style: none;
    }
    
    .block__logo{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        
        .circle__logo{
            @include circle ($radius-logo);
        }
        
        p{
            font-size: 1.2rem;
            color: $color-white;
            font-weight: 700;
        }
    }
    
    .block__menu--content{
        .menu--content-main{
            list-style: none;
            
            .menu--item-main:hover{
                background: $color-primary;
                color: $color-white;
            }
            li{                             
                a{
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;  
                    display: block;
                    
                    > *{
                        line-height: $height-menu-item - 0.2rem;
                    }                                    
                    
                    > .fa, > .menu--item-icon-expand .fa{
                        font-size: 1.5rem;
                    }
                    
                    .menu--item-name{
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                    
                    .menu--item-icon-first{
                        margin-right: 1.5rem;
                    }
                    
                    .menu--item-icon-expand{
                        float: right;
                    }
                }
                
                .submenu-content-main{
                    display: none;
                    padding-left: 3rem;
                    a{
                        color: $color-text-submenu;
                        font-size: 1.1rem;
                        padding: 1rem 0;
                        
                        &:hover{
                            color: #E8DFE2;
                        }                                             
                    }
                }
                
                &.menu-active{
                    > a{
                        background: $color-primary;
                        color: $color-white;                      
                    }
                    
                    .submenu-content-main{
                        display: block;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px){
    .block__nav--menu{
        display: block;
        height: 100%;
    }
}