.block__notification{
    position: absolute;
    top: 6rem;
    left: -0.8rem;
    z-index: 901;
    width: 23.5rem;
    
    p, span{
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: $color-bright-dark;
    }
    
    .notification__content--wrapper{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .notification--title{
        width: 100%;      
        height: $height-notification-title;
        background: $color-primary;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        
        p{
            font-size: 1.4rem;
            color: $color-white;            
            line-height: $height-notification-title;
        }
    }
    
    .notification--content{
        background: $color-white;
        &-item{
            height: $height-notification-item-content;
            padding-top: 1.5rem;
            border-bottom: 0.1rem solid $color-panel-title;
            cursor: pointer;
            
            &:hover{
                background: $color-bg-common;
            }
        }
    }
    
    .notification--fotter{
        background: $color-white;
        height: $height-notification-footer;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        
        p{
            line-height: $height-notification-footer;
            cursor: pointer;
            
            &:hover{
                color: $color-bright-dark;
                font-weight: bold;
            }
        }
    }
}

.block__notification--task{
    .content-detail{        
        .text--percent{
            margin-left: 1rem;
            font-weight: bold;
            line-height: $height-notification-progressbar;
        }
        
        .progress-bar-done40{
            width: 40%; 
        }
    }
}

.block__notification--message{
    .notification__content--wrapper{
        padding-right: 0;
    }
    .notification--content-item-left{
        margin-right: 0.5rem;
        width: 4rem;
        height: 4rem;
    }
    
    .notification--content-item-right{
        width: 78%;
    }
    
    .message--infor{
        span{
            color: $color-dark;
        }
    }
}

.block__progress-bar{
    width: 18rem;
    height: $height-notification-progressbar;
    border: 0.1rem solid $color-panel-title;
    @include border-radius($radius-progress-bar);
}
        
.progress-bar-item{
    height: 100%;
    border-top-left-radius: $radius-progress-bar;
    border-bottom-left-radius: $radius-progress-bar;
}

.progress-bar-light-blue{
    background: $color-light-blue;
}
.progress-bar-danger{
    background: $color-danger;
}
.progress-bar-success{
    background: $color-success;
}
.progress-bar-warning{
    background: $color-warning;
}

.progress-bar-striped{
  background-image: -webkit-linear-gradient(bottom left, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(bottom left, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(to top right, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.block__notification{
    display: none;
    &:before{
        content: '';
        position: absolute;
        top: -2rem;
        left: 1rem;
        @include tooltip-top(1rem, $color-primary);
    }
}

@media (max-width: 425px){
    .block__notification{
        left: -12rem;
        
        &:before{
            content: '';
            left: 12rem;
        }
    }
}