.block__section--statistics{
    .statistics__box{
        border-bottom: 0.1rem solid $color-bg-light-gray;
        
        .statistics__item{
            color: $color-bg-light-gray;
            padding-top: 4rem;
            padding-bottom: 1rem;
            
            .fa, .data--statistics{
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            
            .fa{
                font-size: 5rem;        
            }
            
            .data--statistics{
                font-size: 2.4rem;
                font-weight: 500;
            }
            
            .text--hover{
                display: none;
                padding-top: 3rem;
                color: #FF855D;
            }            
        }
        
        &:hover{
            background: $color-white;
            border-left: 0.1rem solid $color-panel-title;
            border-right: 0.1rem solid $color-panel-title;
            border-bottom: 0.1rem solid $color-panel-title;
            border-top: 0;
            z-index: 903;
            
            @include box-shadow(0, 0.1rem, 0.2rem, 0,  rgba(168,146,168,1));
            .text--hover{
                display: block;
            }
        }
    }
}