.block__circle--moving-top{
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background: rgba(255, 255, 255, 0.5);   
    @include circle($radius-circle-moving-top);
    cursor: pointer;
    z-index: 900;
    .fa-angle-up{
        line-height: 2rem;
        font-weight: bold;
    }
    
    &:hover{
        background: $color-light-blue;
        color: $color-white;
    }
}

html, body, .page{
    height: 100%;
}

.mainpage{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.mainpage__content--right{
    background: $color-white;
    margin-top: 5rem;
}

@media (min-width: 992px){
    .mainpage__content{
        margin-left: $width-left-menu;
        @include transition(0.3s);
        &--right{
            margin-top: 0;
        }
    }

    .collapse.in + .mainpage__content{
        margin-left: 0;
    }
}