a{
	text-decoration: none;
}

*{
	&:focus {
		outline: 0;
	}
}

button{
	cursor: pointer;

	&:focus {
		outline: 0;
	}
}

.wrapper{
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.block--container{
    width: 100%;
}

.container{
	padding-left: 15px;
	padding-right: 15px;
}

.block--display-table{
	display: table;
	height: 100%;
}

.block--display-table-cell{
	display: table-cell;
	vertical-align: middle;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clearfix{
	clear: both;
}

.text--center{
	text-align: center;
}

.text--left{
	text-align: left;
}

.text--right{
	text-align: right;
}

.text--bold{
	font-weight: bold;
}

.text--uppercase{
	text-transform: uppercase;
}
.text--capitalize{
	text-transform: capitalize;
}

.block__section--new{
	margin-top: 6.5rem;
}