@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/montserrat/Montserrat-Bold.tff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Hairline';
    src: url('../fonts/montserrat/Montserrat-Hairline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}