@import "../scss/abstracts/_variables.scss";

.ui-multiselect-shadow {
    box-shadow: 0 1px 12px rgba(0,0,0,.175);
    padding: 0;
}

.ui-multiselect-header {
    padding: 8px 10px;
    padding-right: 0;
    border-bottom-color: #ccc;
}

ul.ui-multiselect-checkboxes {
    margin-top: 0 !important;
}

.ui-multiselect-div, .ui-multiselect-checkboxes-head {
    label {
        position: static;
        cursor: pointer;

        > input[type="checkbox"] {
            position: inherit;
            opacity: 1;
            display: inline-block;
            vertical-align: middle;
            margin-top: -3px;
        }
    }
}

.ui-multiselect-div {
    padding: 8px 10px;
    margin-left: 0 !important;

    label {
        font-size: $font-size !important;
        color: #2c2c2c !important;

        &:hover {
            font-weight: normal !important;
        }
    }

    &:hover {
        background-color: #eee;
    }
}

.ui-multiselect-options input {
    margin: 0;
    margin-right: 10px;
}