.block__circle--moving-top{
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background: rgba(255, 255, 255, 0.5);   
    @include circle($radius-circle-moving-top);
    cursor: pointer;
    z-index: 900;
    .fa-angle-up{
        vertical-align: middle;
        height: 100%;
    }
    
    &:hover{
        background: $color-light-blue;
        color: $color-white;
    }
}

.mainpage--container-content{
    @include transition();
}

.mainpage--container-right{
    margin-top: 3rem;
}

@media (min-width: 992px){
    .mainpage--container{
        &-center, &-right{
            float: left;
        }
        
        &-content{
            margin-left: $width-left-menu;
        }
             
        &-center{
            width: 75%;
        }
        
        &-right{
            width: 25%;
            margin: 0;
            
            .block__section--article{
                margin-left: -15px;
                margin-right: -15px;
            }
        }
        
        &.mainpage--container-fullwidth{
            .mainpage--container-content{
                margin-left:0;
            }
        }
    }
}