@import "../abstracts/variables";

.button-block {
    margin-top: 0.5rem;
    
    @media (max-width: 600px) {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}

.btn {
    color: $black;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    height: 32px;
    line-height: 32px;
}

.btn-primary {
    background: #f05b1f;
    color: #fff;

    &:hover {
        background: lighten(#f05b1f, 10%);
    }
}

.button-collapse {
    .material-icons {
        color: $white;
        line-height: 56px;
        padding-left: 15px;

        @media only screen and (min-width: 601px) {
            line-height: 64px;
        }
    }
}

.btn-back {
    background: #4c6375;
    color: #fff;
    margin-top: -10px;
    margin-bottom: 5px;

    &:hover {
        background: lighten(#4c6375, 10%);
    }

    .icon-arrow {
        font-size: 12px;
        margin-right: 10px;
        transform: rotate(90deg);
        color: inherit;
    }
}