@font-face {
  font-family: 'Bebas';
  src:  url('../fonts/BEBAS___.TTF');
}
@font-face{
	font-family: 'Roboto';
	src: url('../fonts/roboto.regular.ttf');
}

html{
	font-size: 10px;
}

body {
  color: $color-dark;
  font-family: $font-common;
  text-transform: none;
}

.text-emphasize{
	color: $color-lightYellow;
}

.upper-case{
	text-transform: uppercase;
}

.text-heading{
	font-family: $font-bebas;
	word-spacing: 0.2rem;
	font-weight: 200;
}