.page-content{
	margin-top: 2rem;
}

.section-banner{
	height: 42rem;

	img{
		width: 100%;
	}
}

.section-weekly-feature{
	margin-top: 3.5rem;
}

.section-new-watches-fashion{
	margin-top: 1rem;

	.img-wrapper{
		img{
			width: 100%;
		}

		.block-description{

		}
	}
}

.section-collection-feature{
	overflow: hidden;
	margin-top: 3.5rem;

	.section-first{
		margin-left: -15px;
	}

	.section-last{
		margin-right: -15px;
	}
}

.section-ourbrand{
	overflow: hidden;

	img{
		width: 100%;
	}
}