.about-team{
	.content-block{
		width: 40rem;

		.slide{
			position: relative;

			.btn-navigate{
				position: absolute;
				top: 40%;
			}

			.btn-next{
				right: 3rem;
			}

			.btn-prev{
				left: 3rem;
			}
		}

		h2{
			font-size: 1.6rem;
			padding-top: 1.5rem;
		}
	}
}

.next-match{
	.content-wrapper{
		background-color: $color-lightYellow;
	}
	.section-content{
		color: $color-dark;

		> hr{
			border-color: $color-dark;
		}
		> p{
			font-size: 1.8rem;
			text-transform: uppercase;
		}
		
		.content-block{
			overflow: hidden;
			height: 32rem;
			padding-top: 1.5rem;
			padding-bottom: 1rem;
			background-color: $color-white;
		}
	}
}

.section-forecast{
	.content-wrapper{
		background: url('../images/Slide03.jpg');

		.section-content{
			color: $color-white;
		}
	}

	.result-block{
		color: $color-white;
		padding-top: 2rem;
    	padding-bottom: 2rem;

		> *{
			display: inline-block;
		}

		.score-block{
			margin-left: 1rem;
    		margin-right: 1rem;
			font-size: 4.8rem;			
			font-weight: bold;
		}
	}

	.btn{
		width: 12rem;
		height: 4rem;
	}
}