@import "../components/_table.scss";

.page-results {
    margin: 1.5rem 1.5rem 0;    
}

.table-title {
    background: #8aa4b8;
    padding: 4px 15px;
    color: #fff;
    text-transform: uppercase;
}


.panel-heading {
    background: #4C6375;
    border-radius: 0;
    padding: 0;

    .panel-title {
        color: #fff;
        padding: 5px 15px;
        font-size: 13px;

        .icon-arrow {
            margin: 0;
            font-size: 13px;
            transform: rotate(-90deg);
            transition: 0.3s ease all;
        }

        &:hover, &:active, &:focus {
            color: #fff;
        }
    }

    + .panel-collapse > .panel-body {
        border-top: none !important;
    }

    &.active {
        .panel-title {
            .icon-arrow {
                transform: rotate(0);
            }
        }
    }
}