$color-white: #FFFFFF;
$color-black: #000000;
$color-bright-dark: #535455;

$color-orange: #FF8401;

$color-bg-body: #F3F1F3;
$color-bg-footer: #3F3D3F;
$font-common: "Ruda", sans-serif;

$color-white: #FFFEFF;
$color-dark: #333333;

$color-bg-common: #F3F1F3;

$color-bg-header: #FFD677;
$color-border-header: #C9AA60;

$color-bright-gray: #44495E;

$color-bg-title-rightComponent: #FF855D;

$color-bg-light-gray: #999799;

$color-success: #3985BD;
$color-danger: #5EB85D;

$color-panel-title: #DEDCDE;

$color-bg-panel-product: #DBD9D3;
$color-bg-button-common: #EE5465;
$color-bg-footer-share: #1E2123;

$height-item-notification-xs: 2rem;
$height-item-notification-md: 3rem;

$height-item-number-xs: 1.4rem;
$height-item-number-md: 1.6rem;

$height-panel-footer: 5rem;
$height-panel-title: 4rem;
$height-panel-footer-share: 4rem;

$radius-avatar: 4rem;
$radius-product-hot: 3.5rem;
