$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #535455;

$color-orange: #FF8401;

$color-bg-body: #F3F1F3;
$color-bg-footer: #3F3D3F;
$font-common: "Ruda", sans-serif;

$color-white: "#FFFEFF";
$color-bg-common: "#F3F1F3";
$color-bg-header: "#FFD677";
$color-bg-menu: "#44495E";

$color-bg-title-rightComponent: "#FF855D";



