@import "../../scss/abstracts/_variables.scss";

.betlist-popup {
    padding: 5px 15px;
}

.betlist-container {
    background: #fff;

    .ui-jqgrid-hdiv table.ui-jqgrid-htable > thead > tr > th {
        &, &.ui-th-column {
            color: $white;
        }
    }

    .content-title {
        font-weight: bold;
        font-size: 15px;
        padding: 5px 0 10px 0;
        min-width: 650px;
        color: #D2592D;
    }

    a {
        text-decoration: none;
    }

    .mx-parlay .void, .mx-parlay .reject, .mx-parlay .refund {
        text-decoration: line-through;
    }

    .line {
        border-bottom: 1px solid #A0A0A0;
        margin-bottom: 5px;
        margin-top: 5px;
        overflow: hidden;
        text-align: left;
        width: 100%;
    }

    .underdog {
        color: #01122B;
        font-weight: bold !important;
        white-space: normal;
    }

    .stake {
        font-weight: bold !important;
    }

    .favorite {
        color: #B50000;
        font-weight: bold !important;
        display: inline;
        text-align: right;

        .excluding-choices {
            white-space: normal;
        }
    }

    .handicap {
        .odds {
            color: #003399;
            font-size: 8pt;
        }

        &.custom {
            font-weight: bold;
        }
    }

    div.match + div.league {
        color: #666666;
        line-height: 15px;
        margin-top: 1px;
        background: none repeat scroll 0 0 transparent;
        font-weight: normal;
        text-align: right;
        text-transform: none;
    }

    .bettype {
        color: #003399;
        font-weight: 600;
        text-align: right;
    }

    .firstGoal {
        background: url("images/firstGoal.gif") no-repeat scroll center center transparent;
        display: inline;
        height: 10px;
        padding: 0 4px;
        width: 14px;
    }

    .lastGoal {
        background: url("images/lastGoal.gif") no-repeat scroll center center transparent;
        display: inline;
        height: 10px;
        padding: 0 4px;
        width: 14px;
    }

    .fhFirstGoal {
        background: url(Images/1F.gif) no-repeat scroll center center transparent;
        display: inline;
        height: 10px;
        padding: 0 4px;
        width: 14px;
    }

    .fhLastGoal {
        background: url(Images/1L.gif) no-repeat scroll center center transparent;
        display: inline;
        height: 10px;
        padding: 0 4px;
        width: 14px;
    }

    .match {
        color: #000000;
        font-weight: normal;
        line-height: 15px;
        text-align: right;
        white-space: normal;
    }

    .leagueName {
        white-space: normal;
    }

    .oddstype {
        color: #586985;
        font-weight: bold;
    }

    .colorHandicap, .handicap {
        color: #606060;
    }

    .sport {
        color: #0066CC;
    }

    .lic-win-loss {
        background-color: #F5E3E3;
        font-weight: bold;
    }

    .negative-number {
        color: #b50000;
    }

    .detail {
        background: url("images/q_Icon2_1.png") no-repeat scroll center center transparent;
        color: #755200;
        display: inline;
        font-weight: bold;
        height: 10px;
        line-height: 20px;
        padding: 0 1px 0 65px;
        width: 14px;

        &:hover {
            background: url("images/q_Icon_2.png") no-repeat scroll center center transparent;
            color: #755200;
            cursor: pointer;
            display: inline;
            font-weight: bold;
            height: 10px;
            padding: 0 1px 0 65px;
            width: 14px;
        }
    }

    .combinationLink {
        line-height: 20px;
    }

    .scoremap {
        float: left;
    }

    .scoremapIcon {
        background: url("Images/ScoreMapWL.png") no-repeat scroll 0 0 transparent;
        height: 18px;
        margin: 3px;
        width: 18px;
    }

    .gamegroupname {
        color: #008000;
    }

    .light-blue {
        color: #0017CD;
    }
    /* Trans */
    .iplink, .betsliplink {
        cursor: pointer;
        color: #1E1EEB;
        font-size: 11px;
    }

    .time {
        color: #434343;
        font-size: 7pt;
        font-weight: normal;
        text-align: center;
        margin: 10px 0 0 0;
    }

    .status {
        color: #606060;
        font-size: 11px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .result {
        color: #1BA4ED;
        cursor: pointer;
    }

    .ip {
        display: none;
    }
    /*ul.h-list li a*/
    .selected {
        color: Gray !important;
    }

    .base-currency {
        font-size: 14px;
        color: rgb(2, 69, 132);
    }

    .icon-back {
        color: #555;
        font-size: 1.8rem;
    }
    /* Link */
    span.inactive-switch-link {
        font-size: 16px;
        font-weight: bold;
        cursor: default;
        text-decoration: none;
        color: #88003E;
    }

    span.active-switch-link {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
        color: #3547E3;
    }

    .blue {
        color: #2673CE;
    }

    .theme_jqGrid .ui-jqgrid-btable tr.jqgrow td .detail > .detail-link {
        color: #755200;
        font-weight: bold;
    }
    /*to make line-through for void-parlay-ticket*/
    div.mx-parlay {
        div.void {
            span, div {
                text-decoration: line-through;
            }

            > div.match, div.firstGoal, div.lastGoal {
                text-decoration: none;
            }
        }

        .system-parlay-ticket-infor {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 15px;
            color: #000000;
            font-weight: bold;

            .system-parlay-unit-stake {
                color: #003399;
            }
        }
    }

    .ui-jqgrid .jqgrow .transtime {
        white-space: normal;
    }

    .offer-name-list {
        font-weight: bold;
    }
}