header{
	.header-item{
		height: 6rem;
	}

	.header-content{
		display: table;
		overflow: hidden;
		width: 100%;

		a{
			color: $color-textMenu;
		}

		> ul{
			display: table-cell;
			vertical-align: middle;

			> li{
				float: none;
				display: inline-block;
			}
		}
	}

	.header-top{
		margin-top: 0.5rem;
		padding-left: 2rem;
		padding-right: 2rem;

		.header-content{
			.logo{
				padding-left: 1rem;
			}

			> ul{
				text-align: right;

				> li{
					> a{
						padding-left: 0.5rem;
						padding-right:0.5rem;
					}
				}
			}

			.contact-list{
				font-size: 1.2rem;
				color: $color-dark;
				font-weight: bold;

				> li{
					padding-left: 1rem;
					padding-right: 1rem;
					i.fa{
						margin-right: 0.5rem;
						font-size: 1.4rem;
						color: #949494;
					}
				}
			}

			.social-list{
			    width: 12rem;
			    font-size: 1.6rem;

			    a:hover{
					color: $color-dark;
				}
			}
		}
	}

	nav{
		color: $color-textMenu;
		.header-content{
			height: 100%;

			a{
				padding-left: 1rem;
			    padding-right: 4rem;
			    font-family: $font-bebas;
			}
		}

		.navbar{
			font-size: 1.5rem;
			a:hover{
				color: $color-lightYellow;
			}
		}

		.search-box{
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			position: relative;

			.form-search{
				width: 23.5rem;
				padding: 0.6rem;
				border-width: 0;
				border-bottom: 0.2rem solid #3F3C3E;
				outline: 0;
				color: $color-textMenu;
			}

			.fa-search{
				position: absolute;
				right: 0.5rem;
			    top: 2.2rem;
			    font-size: 1.4rem;
				cursor: pointer;

				&:hover{
			    	color: $color-silver;
			    	font-weight: 900;
			    }
			}
		}
	}
}