.about-team{
	.content-block{
		width: 40rem;
	}

	.photo-container{
		position: relative;

		.btn-navigate{
			position: absolute;
			top: 40%;
		}

		.btn-next{
			right: 3rem;
		}

		.btn-prev{
			left: 3rem;
		}

		.slide{
			position: relative;			
		}

		h2{
			font-size: 1.6rem;
			padding-top: 1.5rem;
		}
	}
}

.section-forecast{
	background-image: url('../images/Slide03.jpg');
	background-repeat:no-repeat;
    background-size:cover;


	.content-wrapper{
		.section-content{
			color: $color-white;
		}
	}

	.result-block{
		color: $color-white;
		padding-top: 2rem;
    	padding-bottom: 2rem;

		> *{
			display: inline-block;
		}

		.score-block{
			margin-left: 1rem;
    		margin-right: 1rem;
			font-size: 4.8rem;			
			font-weight: bold;
		}
	}

	.btn{
		width: 12rem;
		height: 4rem;
	}
}