@import "../../scss/abstracts/_variables.scss";
$bgButton: #50BA60;

body {
    background: $white;
}

.no-info-row {
    border-top: none;
}

.timer {
    margin: 10px 15px;
}

.timer-countdown {
    line-height: 25px;
}

.table {
    .first-row {
        td {
            width: 20%;
            padding: 0;
            border: none;
        }
    }

    > thead {
        tr {
            th {
                background: $bgHeaderTableLevel1;
                color: $white;
            }
        }
    }

    > tbody {
        tr {
            td {
                text-align: center;
                background: $white;
            }

            &:hover td {
                color: #009;
            }
        }

        td {
            .txt-currentscore {
                width: 30%;
                height: auto;
                margin: 0;
                padding: 3px;
                border: 1px solid #9e9e9e;
                font-size: 1.2rem;
                border-radius: 3px;

                &:focus {
                    box-shadow: none;
                }
            }

            .btn {
                line-height: 21px;
                height: 21px;
                padding: 0 10px;
                color: $white;
                background: $bgButton;
                margin-left: 5px;
                font-weight: bold;
            }

            .current-score, .positive-number {
                color: $colorPositiveNumber;
            }
        }

        .last-row {
            .col-view-betlist {
                border-right: none;
                text-align: left;
            }

            .col-view-forecast {
                border-left: none;
                text-align: right;
            }
        }
    }
}