@import "../../scss/abstracts/_variables.scss";

$colorBorderTable: #d6d6d6;
$bgLeagueNameRow: #D1DAE1;
$bgLiveRow: #FEDDCC;
$colorAddIcon: #08B22D;

$paddingRightContainer: 17px;

.page-results .result-content {
    border: solid 1px $colorBorderTable;
}

.header-content, .body-content, .footer-content {
    .table {
        border-right: 1px solid $colorBorderTable;

        td {
            &:first-child {
                border-left: none;
            }
        }
    }
}

.icon-plus {
    padding: 0 2px;
    background: $white;
    color: $colorAddIcon;
    border: 1px solid $colorAddIcon;
    font-size: 1rem;
    line-height: 13px;

    &:before {
        content: "\ea0a";
        vertical-align: middle;
    }
}

.table {
    > thead, > tbody {
        tr {
            td, th {
                padding: 4px 5px;
            }

            > td {
                background: $white;
            }

            &.league-name td {
                background: $bgLeagueNameRow;
                font-weight: bold;
            }

            &.live > td {
                background-color: $bgLiveRow;
            }
        }
    }

    td {
        .live-notice {
            color: #FF0004;
        }

        .icon-plus {
            margin-left: 5px;
            color: $colorAddIcon;

            &:hover {
                background: $colorAddIcon;
                color: $white;
            }
        }

        .forcast-number {
            color: #000;
            font-weight: bold;
        }
    }
}

.first-row {
    height: auto;

    > td {
        height: 0;
        border: none !important;
        padding: 0 !important;
        line-height: 0;
    }
}

.body-content {
    overflow-y: auto;
    overflow-x: hidden;

    &.hasScroll{
        padding-right: $paddingRightContainer;
    }
}

.header-content {
    .table {
        th {
            background: $bgHeaderTableLevel1;
            color: $white;
            border-top: none;

            &:first-child {
                border-left: none;
            }
        }

        > thead > tr > th.col-last {
            border-right-color: $colorBorderTable !important;
        }
    }
}

.header-content, .footer-content {
    padding-right: $paddingRightContainer;
}

.forcast-number, .icon-plus {
    display: inline-block;
}

.footer-content .table {
    border-top: 3px solid #a7a1a1;

    > tbody {
        .total-footer {
            > td {
                font-weight: bold;
                border-bottom: none;

                > .total-cell {
                    margin-right: 21px;
                }

                &.no-margin {
                    > .total-cell {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}