.sidebar{
    position: relative;
    background: $color-bright-gray;

	.logo{
		padding-top: 1.5rem;
        padding-bottom: 1.5rem;

		.img-circle{
			width: $radius-logo * 2;
			height: $radius-logo * 2;
		}

		p{
			margin-top: 1.5rem;
            font-size: 1.2rem;
            color: $color-white;
            font-weight: 700;
        }
	}

	.main-menu{
		> li{
			> a{
				color: $color-text-menu;
				font-size: 1.3rem;
                font-weight: 700;

                &:hover, &:focus{
                	background: $color-primary;
            		color: $color-white;
                }

                .menu__item{
                	&--icon{
	                	width: 2rem;
	                	margin-right: 1rem;
	                }	                
                }
                

                .fa{
                	font-size: 1.5rem;
                }
			}

			.submenu{
				margin-left: 3rem;

				> li{
					> a{
		                color: $color-text-submenu;
		                font-size: 1.1rem;
		                
		                &:hover, &:focus{
		                    color: #E8DFE2;
		                    background: transparent;
		                }                                             
		            }
		        }
			}
		}
	}
}

@media (min-width: 768px){
	header{
		nav{
			.icon__bar{
				width: 2rem;
			}

			.header__title{
				font-size: 2rem;
			}

			.notification{
				margin-top: 1.5rem;
				.notification__message{
					width: 3rem;
					height: 3rem;
				}

				.fa{
					font-size: 1.8rem;
					line-height: 3rem;
				}

				.notification__message .notification__number{
					font-size: 1.3rem;
					padding: 2px 6px;
				}
			}

			.nav.navbar-right{
				padding-right: 1.5rem;
				> li > a{
					padding: 5px 15px;
				}
			}

			.nav{
				> li > a{
					padding-top: 1.5rem;
					padding-bottom: 1.5rem;
				}
			}

			.btn{
				padding: 1rem 1.5rem;
    			font-size: 1.3rem;
			}
		}
	}
	
	.sidebar{
	    width: $width-left-menu;
	    height: 100% !important;
	    position: absolute;
	    top: 0;
	    left: -21rem;
	    z-index: 900;
	    @include transition(0.3s);

	    &.collapse.in{	    	
	    	left: 0;
	    }
	}
}

@media (min-width: 992px){
	.sidebar{
	    display: inline-block;
	    left: 0;
	    @include transition(0.3s);

	    &.collapse.in{    	
	    	left: -21rem;
	    }

	    .main-menu > li > a{
	    	padding-top: 1.5rem;
	    	padding-bottom: 1.5rem;

	    	.submenu > li > a{
	    		padding-top: 1rem;
	    		padding-bottom: 1rem;
	    	}
	    }
	}
}