.modal{
	.form-horizontal{
		.control-label, .checkbox label, .fa{
			color: $color-bg-light-gray;
		}

		.control-label, .checkbox label{
			text-align: left;
			font-size: 1.3rem;
			font-weight: normal;
		}

		.checkbox label{
			line-height: 20px;
		}

		.btn-link{
			.fa-angle-double-right{
				color: #337ab7;
			}
		}
	}

	.has-feedback{
		.fa-calendar{
			line-height: 34px;
		}
	}

	.tab-content{
		padding-top: 3rem;
	}

	.nav-tabs{
		> li {
			> a{
				font-size: 1.3rem;
				color: $color-dark;
			}

			&.active > a{
				color: $color-bg-article-title;
			}
		}
	}
}