.section-contact{
	.content-block{
		overflow: hidden;
		margin-top: 3rem;
	}

	.map-block{
		img{
			width: 100%;
			max-width: 100%;
		}
	}

	.form-block{
		position: relative;
		input, textarea{
			width: 100%;
			margin-bottom: 2rem;
			font-family: $font-roboto-bold;
			font-size: 1.4rem;
		}

		textarea{
			height: 13rem;
    		resize: none;
		}

		.btn-submit{
			float: right;
			height: 4rem;
			width: 8rem;
		}
	}
}

@media (min-width: 768px) and (max-width: 979px){
	.section-contact{
		.form-input{
				height: 3rem;
		}
		.form-block{
			input, textarea{
				margin-bottom: 1rem;
				font-size: 1.2rem;
			}
			
			textarea{
				height: 9rem;
			}

			.btn-submit{
				padding: 1rem;
				height: 3rem;
    			width: 7rem;
			}
		}

	}
}