.form-input{
	height: 4.3rem;
	width: 26rem;
	border: 0.1rem solid $color-bg-body;
	padding: 1rem;
	color: $color-black;
	@include border-radius(0.3rem);
}

input:focus{
	outline: none;
	border-color: #DACECE;
}