.match-upcoming, .match-infor{
	margin-left: -15px;
    margin-right: -15px;
}

.match-infor{
    font-weight: bold;

    .match-section{
    	padding-top: 1.5rem;
		padding-bottom: 1.5rem;
    }

	.title{
		padding-top:1rem;
		text-align: left;

		> * {
			display: inline-block;
		}

		h1{
			font-size: 2.4rem;
			width: 25%;
			margin-left: 2rem;
			font-weight: 500;
			word-spacing: 1rem;
		}

		hr{
			border-width: 0.1rem;
			width: 67%;
			margin-bottom: 0.8rem;
		}
	}

	.time-remain{
		margin-top: 2rem;		
		background-color: $color-lightGray;
		border-top: 0.1rem solid $color-silver;
		border-bottom: 0.1rem solid $color-silver;
		font-size: 2rem;

		.unit{
			color: $color-match-emphasize;
		}

		.colon{
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	.team{
		font-size: 1.6rem;

		> * {
			display: inline-block;
		}

		.vs-block{
			padding: 1.2rem 1rem;
			margin-left: 2rem;
			margin-right: 2rem;
			background-color: $color-lightYellow;
		}
	}

	.time-kickoff{
		color: $color-match-emphasize;
		font-size: 1.4rem;

		p{
			margin-top: 0.5rem;
		}
	}
}

.match-upcoming{
	margin-top: -1.5rem;
	.table-match{
		width: 100%;
		font-size: 1.3rem;
	    border-spacing: 0;
		border-collapse: collapse;
		background-color: $color-bg-table;

		th, td{
			padding: 1.2rem;
		}

		th, td{
			&:first-child{
				text-align: left;
				padding-left: 2rem;
			}
		}

		td:last-child{
			text-align: right;
			padding-right: 2rem;
		}

		thead{
			color: $color-lightYellow;
			border-bottom: 0.1rem solid $color-lightYellow;
		}

		tbody{
			color: $color-text-table;
			word-spacing: 0.2rem;

			tr:nth-child(odd) {
			    background: $color-dark;
			}

			tr{
				border-bottom: 0.1rem solid $color-silver;

				> td > .text-emphasize{
					margin-left: 0.5rem;
					margin-right: 0.5rem;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 979px){
	.match-infor{
		.title{
			h1{
				font-size: 2rem;
				width: 38%;
			}

			hr{
				width: 50%;
			}
		}
	}	
}