.product-wrapper{
	overflow: hidden;
	position: relative;

	.product-img{
		background-color: $color-white;

		&-top{
			padding: 1rem;

			.btn-product{
				height: 2.8rem;
				color: $color-white;
				background-color: $color-black;
				text-transform: uppercase;
				border: none;
				font-family: $font-common;
				font-size: 1.6rem;
			}

			.btn-sale{
				background-color: $color-orange;
				text-align: left;

				&:hover{
					background-color: #EAA050;
				}
			}

			.btn-new{
				text-align: right;

				&:hover{
					background-color: #5D5757;
				}
			}
		}
	}

	.product-infor{
		> p{
			text-align: center;
		}

		.product-name{
			text-transform: capitalize;
		}

		.product-price{
			color: $color-orange;

			> *{
				margin-right: 0.2rem;
			}

			.fa-star-o{
				color: $color-line;
			}
		}
	}

	.block-action{
		position: absolute;
		width: 100%;
		top:0;
		bottom: 4.8rem;
		right: 0;
		background-color: rgba(255,255,255,0.5);
		display: none;

		.button-wrapper{
		    position: absolute;
		    bottom: 1rem;
		    right: 0;

			.btn-action{
				display: block;
				height: $height-button-action;
				width: 3.5rem;
				color: $color-white;
				text-align: center;
				margin-top: 0.2rem;

				.fa{
					line-height: $height-button-action;
					font-size: 1.8rem;
				}
			}
		}

		
	}
}
