.section-list, .section-list-heading, .section-list-content{
	overflow: hidden;
}

.section-list-heading{	
	> *{
		display: inline-block;
	}

	&:after{
		content: '';
		display: block;
		height: 0.1rem;
		background-color: $color-line;
		margin-top: 3rem;
	}

	.section-name{
		text-transform: uppercase;
		font-size: 2.4rem;
	}

	.right{
		> * {
			display: inline-block;
		}

		.breadcum{
			text-transform: capitalize;
			margin-right: 2.5rem;
			font-size: 1.6rem;

			span{
				font-size: 1.8rem;
				margin-left: 0.5rem;
				cursor: pointer;

				&:hover{
					color: $color-orange;
				}
			}
			
			.active{
				color: $color-orange;
			}
		}

		.navigation{
			.btn-nav{
				@include circle($radius-nav-button);
				font-size: 1.6rem;
				color: $color-section-nav-button;
				border: $width-border-nav-button solid $color-section-nav-button;
				margin-left: 0.5rem;
				cursor: pointer;

				&:hover{
					color: $color-dark;
					border-color: $color-dark;
				}

				.nav-icon{
					line-height: ($radius-nav-button - $width-border-nav-button) * 2 ;
				}
			}

			.nav-prev{
				padding-right: 0.2rem;
			}

			.nav-next{
				padding-left: 0.2rem;
			}
		}
	}
}

.section-list-content{
	margin-top: 2rem;
	margin-bottom: 2rem;
}