/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0; }

/* end reset browser styles */
a {
  text-decoration: none; }

*:focus {
  outline: 0; }

.block--display-table {
  display: table;
  height: 100%; }

.block--display-table-cell {
  display: table-cell;
  vertical-align: middle; }

.left {
  float: left; }

.right {
  float: right; }

.text--bold {
  font-weight: bold; }

.text--italic {
  font-style: italic; }

.section__new {
  margin-top: 5rem; }

@font-face {
  font-family: 'Ruda';
  src: url("../fonts/Ruda-Regular.ttf"); }
html {
  font-size: 10px; }

body {
  font-family: "Ruda", sans-serif;
  text-transform: none; }

header {
  background: #FFD677;
  border-bottom: 0.2rem solid #C9AA60;
  height: 6rem;
  position: relative; }
  header nav .nav {
    float: left;
    margin-top: 1rem; }
    header nav .nav > li {
      float: left; }
      header nav .nav > li > a:hover, header nav .nav > li > a:focus {
        background: transparent; }
  header nav .navbar-right {
    float: right;
    margin-top: 0.5rem; }
  header nav .header__title {
    color: #44495E;
    font-size: 1.2rem;
    padding-left: 0; }
  header nav .notification {
    margin: 2rem 0;
    padding-left: 1rem;
    padding-right: 0; }
    header nav .notification > li {
      margin-right: 1.5rem; }
    header nav .notification .notification__message {
      display: inline-block;
      overflow: visible;
      height: 2rem;
      width: 2rem;
      border: 0.1rem solid #333333;
      color: #333333;
      padding: 0;
      -moz-border-radius: 0.4rem;
      -webkit-border-radius: 0.4rem;
      border-radius: 0.4rem; }
      header nav .notification .notification__message .notification__number {
        position: absolute;
        padding: 1px 5px;
        top: -1rem;
        right: -1rem;
        color: #FFFFFF;
        background: #337ab7;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.4rem; }
  header .icon__bar {
    display: block;
    background: #999799;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 0.3rem;
    width: 1.5rem;
    -moz-border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.1rem; }
  header .btn-logout {
    font-size: 1rem; }

@media (min-width: 768px) {
  header nav .nav {
    margin-top: 1rem; }
  header nav .notification {
    margin-top: 2rem;
    margin-left: 8.5rem; }
  header nav .navbar-right {
    float: right;
    margin-top: 0.5rem; } }
footer {
  clear: both;
  height: 4rem;
  background: #337ab7;
  z-index: 800; }
  footer p {
    font-size: 1.2rem;
    color: #FFFFFF;
    line-height: 4rem; }

.article .article__title {
  height: 6rem;
  background: #FF855D;
  color: #FFFFFF;
  font-size: 1.6rem; }
  .article .article__title .text {
    line-height: 6rem; }
.article .article__content {
  padding-top: 0.5rem;
  line-height: 2rem; }
  .article .article__content p, .article .article__content span, .article .article__content label {
    font-size: 1.3rem; }
  .article .article__content--item {
    position: relative;
    padding: 1rem 0 3rem 1.5rem;
    border-bottom: 0.1rem solid #DEDCDE; }
    .article .article__content--item-right {
      margin-left: 4rem; }

.article__notification {
  padding-top: 2rem; }
  .article__notification .article__content--item-left .circle__clock {
    background: #337ab7;
    width: 2.5rem;
    height: 2.5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    cursor: default;
    text-align: center;
    overflow: hidden; }
  .article__notification .article__content--item-left .fa-clock-o {
    font-size: 1.2rem;
    color: #FFFFFF;
    line-height: 2.5rem; }
  .article__notification .article__content--item-right .text-description {
    color: #999799; }

.article__team-member .article__content--item {
  padding-top: 2rem; }
  .article__team-member .article__content--item-left .circle__avatar {
    width: 3.5rem;
    height: 3.5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    cursor: default;
    text-align: center;
    overflow: hidden; }
  .article__team-member .article__content--item .text--italic {
    font-weight: normal; }

.article__todo-list .article__content {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  .article__todo-list .article__content label, .article__todo-list .article__content span {
    font-weight: normal;
    font-size: 1.2rem; }
  .article__todo-list .article__content--item {
    padding: 1.5rem 0.5rem;
    border-bottom: 0.1rem dashed #DEDCDE; }
.article__todo-list .article__content--item .label__status {
  margin-left: 0.5rem;
  margin-right: 8rem;
  border-radius: 2rem; }
.article__todo-list .article__content--item .item__action {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem; }
.article__todo-list .block__button {
  margin-top: 3rem;
  padding-bottom: 2rem; }
  .article__todo-list .block__button--left, .article__todo-list .block__button--right {
    width: 50%; }
  .article__todo-list .block__button .btn {
    font-size: 1.2rem;
    padding: 0.75rem 1rem; }

.item-checked {
  background: #F7F5F7; }
  .item-checked label.text--description {
    color: #999799;
    text-decoration: line-through; }

@media (min-width: 992px) and (max-width: 1199px) {
  .article__box--todo-list .block__button .btn {
    font-size: 0.9rem; } }
.table__box {
  background: #FFFFFF;
  color: #999799;
  -webkit-box-shadow: 0 3px 10px 2px rgba(189, 176, 189, 0.8);
  -moz-box-shadow: 0 3px 10px 2px rgba(189, 176, 189, 0.8);
  box-shadow: 0 3px 10px 2px rgba(189, 176, 189, 0.8);
  border-bottom: 2px solid #ABB2BD; }
  .table__box .table {
    margin-top: 2rem; }
    .table__box .table th, .table__box .table p {
      font-size: 1.2rem; }
    .table__box .table__title {
      font-size: 1.8rem;
      height: 6.5rem;
      border-bottom: 0.1rem solid #999799; }
      .table__box .table__title p {
        padding-left: 1rem;
        line-height: 6.5rem; }

.section__information .panel {
  background: transparent; }
  .section__information .panel .panel__item {
    -webkit-box-shadow: 0 3px 10px 2px rgba(189, 176, 189, 0.8);
    -moz-box-shadow: 0 3px 10px 2px rgba(189, 176, 189, 0.8);
    box-shadow: 0 3px 10px 2px rgba(189, 176, 189, 0.8);
    border-bottom: 2px solid #ABB2BD; }

.panel__item {
  height: 25rem; }

.panel__item--author-content {
  height: 20rem;
  padding: 4rem 0;
  background: url("../images/profile-02.jpg");
  background-size: 100% 100%; }
  .panel__item--author-content .content__profile--avatar {
    width: 8rem;
    height: 8rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    cursor: default;
    text-align: center;
    overflow: hidden; }
  .panel__item--author-content .content__profile--name {
    display: block;
    color: #FFFFFF;
    font-size: 1.8rem; }
.panel__item--author .panel__item--footer {
  background: #FFFFFF;
  height: 5rem; }
  .panel__item--author .panel__item--footer .footer__profile {
    color: #DEDCDE;
    line-height: 5rem; }
    .panel__item--author .panel__item--footer .footer__profile .fa {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }

.panel__item--product {
  background: #DBD9D3; }
  .panel__item--product-content {
    position: relative;
    font-size: 1.4rem;
    color: #535455;
    padding-top: 1rem;
    padding-bottom: 2.6rem; }
    .panel__item--product-content .circle--hot {
      position: absolute;
      left: 2rem;
      top: 2rem;
      background: #EE5465;
      width: 7rem;
      height: 7rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      cursor: default;
      text-align: center;
      overflow: hidden; }
      .panel__item--product-content .circle--hot .text {
        line-height: 7rem; }
    .panel__item--product-content .btn-report, .panel__item--product-content .circle--hot {
      color: #FFFFFF; }
    .panel__item--product-content .btn-report {
      height: 3.4rem; }
    .panel__item--product-content img {
      height: 10rem; }
    .panel__item--product-content p {
      padding-bottom: 0.5rem; }
    .panel__item--product-content .content__product--name {
      padding-top: 2rem; }

.panel__item--user {
  height: 28rem; }
  .panel__item--user .panel__item--title {
    background: #DEDCDE;
    height: 4rem;
    font-size: 1.4rem; }
    .panel__item--user .panel__item--title .text--title {
      line-height: 4rem; }
  .panel__item--user-content {
    height: 24rem;
    padding-top: 1.5rem; }
    .panel__item--user-content .content__profile--avatar {
      width: 8rem;
      height: 8rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      cursor: default;
      text-align: center;
      overflow: hidden; }
    .panel__item--user-content .content__profile--text {
      color: #333333;
      font-size: 1.3rem;
      display: block; }
      .panel__item--user-content .content__profile--text-username {
        padding-top: 1rem; }
    .panel__item--user-content .content__profile .text--label {
      font-size: 1.1rem; }

.panel__item--share-content .panel__item--content-chart {
  height: 14rem; }
  .panel__item--share-content .panel__item--content-chart img {
    width: 100%;
    max-height: 100%; }
.panel__item--share-content .panel__item--content-description {
  width: 100%;
  height: 7rem;
  background: #1E2123;
  padding: 1.5rem 1rem; }
  .panel__item--share-content .panel__item--content-description .content--left {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600; }
  .panel__item--share-content .panel__item--content-description .content--right {
    color: #5EB85D;
    font-size: 1.2rem;
    font-weight: 700; }
    .panel__item--share-content .panel__item--content-description .content--right .fa {
      font-size: 2.2rem;
      margin-right: 0.5rem; }
  .panel__item--share-content .panel__item--content-description .content--note {
    font-size: 1.1rem;
    color: #535455; }
.panel__item--share-footer {
  height: 4rem;
  font-size: 1.5rem; }
  .panel__item--share-footer .footer__share {
    line-height: 4rem; }

.panel__item--newfeed-content {
  color: #FFFFFF;
  width: 100%;
  height: 100%; }
  .panel__item--newfeed-content .content__newfeed {
    background: url("../images/instagram.jpg");
    background-size: 100% 100%;
    height: 100%; }
    .panel__item--newfeed-content .content__newfeed--text {
      font-size: 1.2rem;
      line-height: 1.6rem; }
      .panel__item--newfeed-content .content__newfeed--text:nth-child(2) {
        padding-top: 1.5rem; }
      .panel__item--newfeed-content .content__newfeed--text:nth-child(4) {
        padding-top: 4rem; }
      .panel__item--newfeed-content .content__newfeed--text .fa {
        margin-right: 0.3rem; }
    .panel__item--newfeed-content .content__newfeed .fa-instagram {
      font-size: 4rem; }

.panel__item--weather-content {
  color: #FFFFFF;
  width: 100%;
  height: 100%; }
  .panel__item--weather-content .content__weather {
    background: url("../images/weather.jpg");
    background-size: 100% 100%;
    height: 100%; }
    .panel__item--weather-content .content__weather .fa-cloud {
      font-size: 4rem; }
    .panel__item--weather-content .content__weather .content__newfeed--text {
      font-weight: 900; }
      .panel__item--weather-content .content__weather .content__newfeed--text:nth-child(2) {
        font-size: 3rem;
        padding-top: 3rem; }
      .panel__item--weather-content .content__weather .content__newfeed--text:nth-child(3) {
        font-size: 1.8rem;
        padding-top: 1.5rem; }

@media (min-width: 768px) {
  .panel__item--user {
    height: 25rem; }
    .panel__item--user-content .content__profile--text-username {
      margin-bottom: 1rem; }
    .panel__item--user-content .content__profile--text-left {
      float: left;
      margin-left: 1.5rem; }
    .panel__item--user-content .content__profile--text-right {
      float: right;
      margin-right: 1.5rem; } }
.section__statistics .statistics__box {
  padding-bottom: 1rem;
  cursor: pointer; }
  .section__statistics .statistics__box .statistics__item {
    color: #999799;
    padding-top: 4rem;
    padding-bottom: 1rem; }
    .section__statistics .statistics__box .statistics__item .fa, .section__statistics .statistics__box .statistics__item .data--statistics {
      padding-bottom: 1.5rem; }
    .section__statistics .statistics__box .statistics__item .fa {
      padding-top: 1.5rem;
      font-size: 5rem; }
    .section__statistics .statistics__box .statistics__item .data--statistics {
      padding-top: 0.5rem;
      font-size: 2.4rem;
      font-weight: 500;
      border-bottom: 0.1rem solid #999799; }
    .section__statistics .statistics__box .statistics__item .text--hover {
      visibility: hidden;
      padding-top: 1.5rem;
      color: #FF855D;
      font-size: 1.3rem; }
  .section__statistics .statistics__box:hover {
    background: #FFFFFF;
    border-bottom: 0.3rem solid #DEDCDE;
    border-top: 0;
    z-index: 903;
    -webkit-box-shadow: 0 0.5rem 0.1rem 0 #a892a8;
    -moz-box-shadow: 0 0.5rem 0.1rem 0 #a892a8;
    box-shadow: 0 0.5rem 0.1rem 0 #a892a8; }
    .section__statistics .statistics__box:hover .text--hover {
      visibility: visible; }
    .section__statistics .statistics__box:hover .data--statistics {
      border-bottom: none; }

@media (min-width: 768px) {
  .section__statistics .statistics__box {
    float: left;
    width: 20%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out; } }
.block__circle--moving-top {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  background: rgba(255, 255, 255, 0.5);
  width: 2rem;
  height: 2rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  cursor: default;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  z-index: 900; }
  .block__circle--moving-top .fa-angle-up {
    vertical-align: middle;
    height: 100%; }
  .block__circle--moving-top:hover {
    background: #5BBFDF;
    color: #FFFFFF; }

.mainpage__content--right {
  background: #FFFFFF;
  margin-top: 5rem; }

body {
  background-color: #F3F1F3; }

/*# sourceMappingURL=main.css.map */
