header{
    background: $color-bg-header;
    border-bottom: 0.2rem solid $color-border-header;
    height: 6rem;
    
    .icon--bar{
        display: block;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        height: 0.3rem;
        width: 1.5rem;
        @include border-radius(0.1rem);
    }
    
    nav{
        height: 100%;
    }
    
    .navbar{
        list-style: none;
        height: 100%;
    }
    
    .navbar__item{
        padding-right: 1rem;
    }
    
    .navbar__list--left{
        float: left;
                  
        .navbar__item{                  
            &--toggle-menu{
                .icon--bar{
                    background: $color-bg-light-gray;
                }
                
                &:hover{
                    > .icon--bar{
                        background: #544E54;
                    }
                }
            }
            &--title{
                color: $color-bright-gray;
                font-size: 1.2rem;
            }
        }
    }
    
    .navbar__list--notification{
        float: left;
        margin-left: 1rem;
        
        .navbar__item{
            position: relative;
            
            &--notification{
                display: inline-block;
                overflow: visible;
                height: $height-item-notification-xs;
                width: $height-item-notification-xs;
                border: 0.1rem solid $color-dark;
                color: $color-dark;
                @include border-radius(0.4rem);
                
                .fa{
                    font-size: 1rem;
                    line-height: $height-item-notification-xs;
                }
                
                &:hover, &:focus{
                    background: $color-bg-common; 
                }
            }
            
            &--number{
                position: absolute;
                top: -1rem;
                right: -1rem;
                color: $color-white;
                background: $color-primary;
                font-weight: bold;
                font-size: 1rem;
                line-height: $height-item-number-xs;
            }
            
            .circle{
                @include circle($height-item-number-xs/2)
            }           
        }
    }
    
    .navbar__list--right{
        float: right;
    }
    
    
    .btn{
        padding: 0.8rem 0.8rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 290px){
    header{
        .navbar__item{
            padding-right: 0.9rem;
        }
        
        .navbar__list--notification{
            margin-left: 0;
        }
        
        .btn{
            padding: 0.6rem 0.6rem;
            font-size: 1rem;
        }
    }
}

@media (max-width: 767px){
    header{
        .navbar__list--right{
            .navbar__item{
                padding-right: 0;
            } 
        }
    }
}

@media (min-width: 768px){
    header{
        .icon--bar{
            width: 2rem;
        }
        
        .navbar__item{
            padding-right: 1.5rem;
        }
        
        .navbar__list--left{                    
            .navbar__item{                  
                &--title{
                    font-size: 2rem;
                }
            }
            
        }
        
        .__list--right{
            padding-right: 15px;
            
            .navbar__item{
                padding-right: 0;
            }       
        }
        
        .navbar__list--notification{
            margin-left: 8rem;
            
            .navbar__item{               
                &--notification{
                    height: $height-item-notification-md;
                    width: $height-item-notification-md;
                    
                    .circle{
                        @include circle($height-item-number-md/2)
                    }
                    .fa{
                        font-size: 1.8rem;
                        line-height: $height-item-notification-md;
                    }
                }       
            }
        }
        
        .btn{
            padding: 1rem 1.5rem;
            font-size: 1.3rem;
            padding-right: 15px;
        }
    }   
}