$color-white: #FFFFFF;
$color-dark: #212121;
$color-lightYellow: #FEC722;
$color-textMenu: #AFAFAF;
$color-lightGray: #DEDEDE;
$color-silver: #CACACA;

$color-border-dark: #3F3C3E;

$color-header: #949494;

$color-match-emphasize: #888688;
$color-bg-table: #121212;
$color-text-table: #A2A2A2;

$color-blue: #0FB7FE;

$font-common: "Roboto", sans-serif;
$font-bebas: "Bebas", sans-serif;
$font-roboto-bold: "Roboto-bold", sans-serif;