$color-white: #FFFFFF;
$color-dark: #212121;
$color-lightYellow: #FEC722;
$color-textMenu: #AFAFAF;
$color-lightGray: #DEDEDE;
$color-silver: #CACACA;

$color-header: #949494;

$color-match-emphasize: #888688;
$color-bg-table: #121212;
$color-text-table: #A2A2A2;

$font-common: "Bebas", sans-serif;