$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #535455;

$color-orange: #FF8401;

$color-bg-body: #F3F1F3;
$color-bg-footer: #3F3D3F;
$color-bg-common-button: #343234;

$color-bg-active: #343234;

$color-bg-infor-item: #D1CFD1;

$color-section-nav-button: #BCBABC;

$font-common: "Pathway Gothic One", sans-serif;

$height-navbar: 5.7rem;
$radius-shipping-icon: 4rem;
$radius-nav-button: 1.25rem;

$width-border-nav-button: 0.2rem;